cycler>=0.10.0
Cython
decorator>=4.3.2
kiwisolver>=1.0.1
matplotlib>=2.2
networkx
numpy
pandas
pyparsing>=2.3.1
python-dateutil>=2.8.0
scikit-learn>=0.22.1
scipy
six>=1.12.0
altair
geopandas==0.9.0
Shapely==1.7.1
esda==2.3.6
scanpy
POT
anndata>=0.7.5
pysal==2.4.0
recommonmark>=0.7.1